body{
    background-color: whitesmoke;
    height: 45cm;
}
.section1{
    position: absolute;
    margin-left: -8px;
    margin-top: -23px;

    width: 100%;
    height: 200px;
    background-image: url(billards.jpg);

    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
}

.section1 #title{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    color: whitesmoke;
    display:flex;
    justify-content: center;
    margin-top:6% ;
    font-size: 40px;
    letter-spacing: 10px;
}

.section1 .player_logs{

    margin-top: 190px;
    margin-left: 270px;

    position: absolute;

    width:1000px;
    height: 200px;
    
    background-color:rgb(220, 220, 220);

    display: flex;
    justify-content: center;

    border-radius: 20px;


}

.section1 .player_logs #sub_title{
    position: absolute;
    color: rgb(0, 0, 0);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;

    background-color:bisque;
    display: flex;
    justify-content: center;

    width: 200px;
    height: 33px;

    margin-top: -90px;
    margin-left: -10px;

    border-radius: 30px;

    padding-top: 5px;
} 

.player_logs_form{

    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    margin-top: 50px;
}
#submit{
    position: absolute;
    height: 30px;
    width: 120px;
    margin-top: 248px;
    margin-left: 1px;

    background-color:darkolivegreen;
    border-radius: 20px;

    letter-spacing: 5px;
}

.section2{
    position:absolute;
    width: 440px;
    height: 450px;

    background-color:rgb(220, 220, 220);
    margin-top: 650px;
    margin-left: 35.5%;
    border-radius:20px ;

    
}
#details_title{

    background-color: black;
    color: white;

    width: 100%;
    height: 37px;
    padding-top: 10px;
    
    margin-top: -1px;
    position: absolute;

    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;

    border-radius:20px 20px 0px 0px ;

}

.details{
    
    height: 10px;/* unnecessary */
    width: 100%;
   /* background-color: aqua; */

    margin-top: 70px;
    font-family: sans-serif;
    
}

.inner_details{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: 300;
}

.timer_section{
    position: absolute;
    width: 39cm;
    height: 8.1cm;

    background-color: rgb(0, 0, 0);

    margin-top: 31.5cm;
    margin-left: 16px;

    display: flex;
    justify-content: center;
    border-radius:20px ;

}
.timer_tab1, .timer_tab2, .timer_tab3, .timer_tab4, .timer_tab5{
    height: 250px;
    width: 330px;
    margin: 25px;

    border-radius:20px ;
}
.timer_tab1, .timer_tab3, .timer_tab5{
    background-color: lightseagreen;
}
.timer_tab2, .timer_tab4 {
    background-color: lightgreen;
}

.table_no{
    border-radius: 20px;
    background-color: lightgray;
    text-align: center;
    color: black;
    width: 40px;
    margin-left: 100px;
    margin-top:60px ;
}
.time_stamp{
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family:sans-serif;
    margin-left: -6px;
    margin-top: 20px;
}

/* animation when details but is submitted */
.anim_c1{
    position: absolute;
    width: 100px;
    height: 12cm;

    margin-left: 90px;
    margin-top: 220px;
}
#anim_l1{
    position: absolute;
    height: 11cm;
    width: 0.08cm;
    background-color:lightcoral ;

}

#anim_l2{
    position: absolute;
    height: 11cm;
    width: 0.07cm;
    background-color: goldenrod;

    margin-left: 30px;
}
#anim_l3{
    position: absolute;
    height: 11cm;
    width: 0.08cm;
    background-color: lightsteelblue;

    margin-left: 60px;
}

/* -------------------------------------------------------------------------- */
.anim_c2{
    position: absolute;
    width: 100px;
    height: 12cm;

    margin-left: 36.11cm;
    margin-top: 220px;
}
#anim_l4{
    position: absolute;
    height: 11cm;
    width: 0.07cm;
    background-color:lightcoral;
}
#anim_l5{
    position: absolute;
    height: 11cm;
    width: 0.06cm;
    background-color: goldenrod;

    margin-left: 30px;
}
#anim_l6{
    position: absolute;
    height: 11cm;
    width: 0.07cm;
    background-color: lightsteelblue;

    margin-left: 60px;
}